body {
    background-color: aliceblue;
}

:root {
    --first-color: #5b4834;
    --second-color: #aaa69d;
}

a,a:hover {
    text-decoration: none;

}

#side-area {
    background-color: var(--first-color);
    color: white;
    padding: 20px 0;
    
}

#side-area h4 {
    text-align: center;
    margin-bottom: 20px;
}

#side-area ul {
    list-style: none;
    padding: 0;
}

#side-area ul li {
    background-color: var(--second-color);
    margin-bottom: 5px;
    padding: 5px;
}

#side-area ul li a {
    color: white;
}

#side-area #menu li{
    background-color: rgb(36, 124, 232);
}

/* categories */

.add-category {
    margin-top: 30px;
    
}

.btn-custom {
    background-color: var(--first-color);
    color: white;
    border: 1px solid var(--first-color);
    width: 100px;
    padding: 5px 10px;
    border-radius: .25rem;
}




/* new-post page */
#main-area {
    margin-top: 10px;
}



/* display category */

.display-category tr:first-child {
    background-color: var(--first-color) !important;
    color: white;
}